<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[泪]</string>
		<key>png</key>
		<string>00_泪.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哈哈]</string>
		<key>png</key>
		<string>01_哈哈.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抓狂]</string>
		<key>png</key>
		<string>02_抓狂.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘻嘻]</string>
		<key>png</key>
		<string>03_嘻嘻.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[偷笑]</string>
		<key>png</key>
		<string>04_偷笑.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[怒]</string>
		<key>png</key>
		<string>05_怒.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鼓掌]</string>
		<key>png</key>
		<string>06_鼓掌.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心]</string>
		<key>png</key>
		<string>07_心.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心碎了]</string>
		<key>png</key>
		<string>08_心碎了.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[生病]</string>
		<key>png</key>
		<string>09_生病.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[爱你]</string>
		<key>png</key>
		<string>10_爱你.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害羞]</string>
		<key>png</key>
		<string>11_害羞.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[馋嘴]</string>
		<key>png</key>
		<string>12_馋嘴.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可怜]</string>
		<key>png</key>
		<string>13_可怜.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[晕]</string>
		<key>png</key>
		<string>14_晕.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[花心]</string>
		<key>png</key>
		<string>15_花心.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[太开心]</string>
		<key>png</key>
		<string>16_太开心.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲亲]</string>
		<key>png</key>
		<string>17_亲亲.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鄙视]</string>
		<key>png</key>
		<string>18_鄙视.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呵呵]</string>
		<key>png</key>
		<string>19_呵呵.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[挖鼻屎]</string>
		<key>png</key>
		<string>20_挖鼻屎.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[衰]</string>
		<key>png</key>
		<string>21_衰.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[兔子]</string>
		<key>png</key>
		<string>22_兔子.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[good]</string>
		<key>png</key>
		<string>23_good.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[来]</string>
		<key>png</key>
		<string>24_来.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[威武]</string>
		<key>png</key>
		<string>25_威武.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[围观]</string>
		<key>png</key>
		<string>26_围观.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[萌]</string>
		<key>png</key>
		<string>27_萌.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[送花]</string>
		<key>png</key>
		<string>28_送花.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[囧]</string>
		<key>png</key>
		<string>29_囧.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酷]</string>
		<key>png</key>
		<string>30_酷.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[糗大了]</string>
		<key>png</key>
		<string>31_糗大了.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[撇嘴]</string>
		<key>png</key>
		<string>32_撇嘴.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[发呆]</string>
		<key>png</key>
		<string>33_发呆.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汗]</string>
		<key>png</key>
		<string>34_汗.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[睡]</string>
		<key>png</key>
		<string>35_睡.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吃惊]</string>
		<key>png</key>
		<string>36_吃惊.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[白眼]</string>
		<key>png</key>
		<string>37_白眼.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疑问]</string>
		<key>png</key>
		<string>38_疑问.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[阴险]</string>
		<key>png</key>
		<string>39_阴险.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[左哼哼]</string>
		<key>png</key>
		<string>40_左哼哼.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[右哼哼]</string>
		<key>png</key>
		<string>41_右哼哼.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[敲打]</string>
		<key>png</key>
		<string>42_敲打.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[委屈]</string>
		<key>png</key>
		<string>43_委屈.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘘]</string>
		<key>png</key>
		<string>44_嘘.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吐]</string>
		<key>png</key>
		<string>45_吐.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[做鬼脸]</string>
		<key>png</key>
		<string>46_做鬼脸.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[ByeBye]</string>
		<key>png</key>
		<string>47_ByeBye.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[要哭了]</string>
		<key>png</key>
		<string>48_要哭了.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[傲慢]</string>
		<key>png</key>
		<string>49_傲慢.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[月亮]</string>
		<key>png</key>
		<string>50_月亮.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[太阳]</string>
		<key>png</key>
		<string>51_太阳.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[耶]</string>
		<key>png</key>
		<string>52_耶.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[握手]</string>
		<key>png</key>
		<string>53_握手.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[ok]</string>
		<key>png</key>
		<string>54_ok.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[饭]</string>
		<key>png</key>
		<string>55_饭.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[咖啡]</string>
		<key>png</key>
		<string>56_咖啡.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[礼物]</string>
		<key>png</key>
		<string>57_礼物.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[猪头]</string>
		<key>png</key>
		<string>58_猪头.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抱抱]</string>
		<key>png</key>
		<string>59_抱抱.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[赞]</string>
		<key>png</key>
		<string>60_赞.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[Hold]</string>
		<key>png</key>
		<string>61_Hold.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[神马]</string>
		<key>png</key>
		<string>62_神马.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[坑爹]</string>
		<key>png</key>
		<string>63_坑爹.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[有木有]</string>
		<key>png</key>
		<string>64_有木有.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[谢谢]</string>
		<key>png</key>
		<string>65_谢谢.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[蓝心]</string>
		<key>png</key>
		<string>66_蓝心.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[外星人]</string>
		<key>png</key>
		<string>67_外星人.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[魔鬼]</string>
		<key>png</key>
		<string>68_魔鬼.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[紫心]</string>
		<key>png</key>
		<string>69_紫心.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[绿心]</string>
		<key>png</key>
		<string>70_绿心.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[黄心]</string>
		<key>png</key>
		<string>71_黄心.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[音符]</string>
		<key>png</key>
		<string>72_音符.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[闪烁]</string>
		<key>png</key>
		<string>73_闪烁.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[星星]</string>
		<key>png</key>
		<string>74_星星.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[雨滴]</string>
		<key>png</key>
		<string>75_雨滴.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[火焰]</string>
		<key>png</key>
		<string>76_火焰.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[便便]</string>
		<key>png</key>
		<string>77_便便.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[踩一脚]</string>
		<key>png</key>
		<string>78_踩一脚.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[下雨]</string>
		<key>png</key>
		<string>79_下雨.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[多云]</string>
		<key>png</key>
		<string>80_多云.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[闪电]</string>
		<key>png</key>
		<string>81_闪电.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[雪花]</string>
		<key>png</key>
		<string>82_雪花.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[旋风]</string>
		<key>png</key>
		<string>83_旋风.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[包]</string>
		<key>png</key>
		<string>84_包.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[房子]</string>
		<key>png</key>
		<string>85_房子.png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[烟花]</string>
		<key>png</key>
		<string>86_烟花.png</string>
	</dict>
</array>
</plist>
